.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.256);
}

.modal_content {
    background-color: rgb(244, 242, 242);
    padding: 20px;
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 2px 1px grey ;
}

.close {
    font-size: 25px;
    font-weight: bold;
    color: rgb(147, 22, 8);
    float: right;
    cursor: pointer;


}